/.idea
/.vscode
/.env
/.env.sail
/.env.backup
/.env.sail
/.phpunit.result.cache
/_breeze.txt
/_cashier.txt
/_deployment.txt
/_packages.txt
/_sail-setup-notes.txt
/_permissions.txt
/_notes.txt
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
npm-debug.log
yarn-error.log
